@model List<PizzaPan.EntityLayer.Concrete.OurTeam>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Takım Üye Listesi</h3>
<hr />

<a href="/OurTeam/AddOurTeam/" class="btn btn-success">Ekle</a>
<br />

<table class="table table-striped">
   

    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Adınız</th>
        <th>Soyadınız</th>
        <th>Başlık</th>
        <th></th>
        <th></th>
    </tr>

    @{
        int a = 1;
    }
    @foreach (var i in Model)
    {
        <tr>
            <th>@a</th>
            <td>
                <img src="@i.OurTeamImageUrl" width="100" />
            </td>
            <td>
                @i.OurTeamName
            </td>
            <td>@i.OurTeamSurname</td>
            <td>@i.OurTeamTitle</td>
            <td>
                <a href="/OurTeam/DeleteOurTeam/@i.OurTeamId" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/OurTeam/EditOurTeam/@i.OurTeamId" class="btn btn-warning">Güncelle</a>

            </td>
        </tr>


    }
</table>
